{% extends "admin/base_site.html" %}
{% block title %}
 Order {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url 'admin:orders_order_changelist' %}">Orders</a>
        &rsaquo;
        <a href="{% url 'admin:orders_order_change' order.id %}">Order {{ order.id }}</a>
        &rsaquo; Detail
    </div>
{% endblock %}
{% block content %}
    <h1>Commande {{ order.id }}</h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">Imprimer Commande</a>
        </li>
    </ul>

    <table>
        <tr>
            <th>Crée le</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Commune</th>
            <td>
            {{ order.commune }},
            </td>
        </tr>
        <tr>
            <th>Wilaya</th>
            <td>
            {{ order.wilaya }},
            {{ order.postal_code }} {{ order.city }}
            </td>
        </tr>
        <tr>
            <th>Addresse</th>
            <td>
            {{ order.addresse }},
            {{ order.postal_code }} {{ order.city }}
            </td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ order.get_total_cost }} DA</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if order.paid %}Payé{% else %}En attente de paiement{% endif %}</td>
        </tr>
    </table>
    <div class="module">
        <br>
        <h2 >Articles</h2>
        <br>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix DZD</th>
                    <th>Couleur</th>
                    <th>Taille</th>
                    <th>Quantité</th>
                    <th>Total DZD</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">{{ item.price }} </td>
                        <td class="num"> <div style="height: 25px; width: 25px; background-color:{{ item.color }}; border-radius:50%; margin-left:10px"></div> </td>
                        <td class="num">{{ item.taille }}</td>
                        <td class="num"> {{ item.quantity }}</td>
                        <td class="num"> {{ item.get_cost }} </td>
                    </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="5"><h3>Total</h3></td>
                    <td class="num"> <h3>{{ order.get_total_cost }}</h3> </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <h3>Notes</h3>
            {% if order.note %}
                <p>{{order.note}}</p>
            {% else %}
                <p>pas de note pour cette commande</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

