{% extends "base.html" %}
{% load static %}
{% load i18n %} 
{% static "img" as baseUrl %}
{% block content %}
  
	<!-- Title Page -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">{% trans "PANIER" %}</h3>
					<ul class="breadcrumb-tree">
						<li><a href="{% url 'main:index' %}">{% if LANGUAGE_CODE != 'ar' %}Accueil{% else %}الصفحة الرئيسية{% endif %}</a></li>
						<li class="active">{% trans "PANIER" %}</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>

	<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						
						<tr class="table-head">
							<th class="column-1">{% trans "Photo" %}</th>
							<th class="column-3">{% trans "Produit" %}</th>
							<th class="column-3">{% trans "Taille" %}</th>
							<th class="column-3">{% trans "Couleur" %}</th>
							<th class="column-3">{% trans "Prix" %}</th>
							<th class="column-4">{% trans "Quantité" %}</th>
							<th class="column-4">{% trans "Supprimer" %}</th>

							<th class="column-5">{% trans "Total" %}</th>
						</tr>
				
						{% if cart|length > 0 %}
							{% for item in cart %}
								{% with product=item.product %}
								<tr class="table-row">
									<td class="column-1">
										<div class="cart-img-product b-rad-4 o-f-hidden">
											<img src="{% if product.image %}{{product.image.url}}{% else %} {% static 'images/heading-pages-01.jpg' %}{% endif %}" alt="IMG-PRODUCT">
										</div>
									</td>
									{% if product.name %}
										<td class="column-3">{{product.name}}</td>
									
									{% else %}
										<td class="column-2">X</td>
									
									{% endif %}
									
									<td class="column-3">{{item.taille}}</td>
									<td class="column-3"><span class="dot small-dot mr-2" style="background-color: {{ item.color }}"></span></td>
									<td class="column-3">
										{% if LANGUAGE_CODE != 'ar' %}
												{{item.price}} DA 
										{% else %}
												{{item.price}} دج
										{%endif%}
									</td>

									<td class="column-4">
										<form id="quantity-item" action="{% url 'cart:cart_update' product.id %}" method="post">
											<div class="inputs d-flex">
												<button class="btn-num-product-down colorwhite flex-c-m size7 bg0 eff2">
													<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
												</button>
			
												<input class="size8 m-text18 t-center num-product" min="1" max="3" type="number" name="quantity" value="{{item.quantity}}">
			
												<button class="btn-num-product-up colorwhite flex-c-m size7 bg0 eff2">
													<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
												</button>
												<button class="btn ml-3" type="submit"> <i class="fa fa-check"></i></button>
											</div>
												{% csrf_token %}
												
										</form>
									</td>
									<td>
										<form action="{% url 'cart:cart_remove' product.id %}" method="post">
											<div class="inputs-trash d-flex">
												<button class="btn ml-3" type="submit"> <i class="fa fa-trash" ></i></button>
												{% csrf_token %}
											</div>
										</form>
									<td class="column-5">
										{% if LANGUAGE_CODE != 'ar' %}
												{{ item.total_price }} DA
										{% else %}
												{{ item.total_price }} دج
										{%endif%}
									</td>
								</tr>
								{% endwith %}
							{% endfor %}

						{% else %}
						<tr class="table-row">
						<center><td colspan="12"><h2 class="ml-5 text-uppercase text-center text-danger">{% trans "Votre Panier est vide" %}</h2></td> </center>
						</tr>
						{% endif %}
					</table>
				</div>
			</div>
			<!-- Cart item -->


			
					<!-- Coupon -->
			{% if cart|length > 0 %}
					<!-- Montant -->
			
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						<tr class="table-head">
						{% if cart.coupon%}
							<th class="column-1" style="text-transform: uppercase">
								{% if LANGUAGE_CODE != 'ar' %} Coupon {% else %} كوبون {%endif%}
							</th>
							<th class="column-3">{% trans "Réduction" %}</th>
							<th class="column-3">{% trans "Sous Total" %}</th>
						{% endif %}
							<th class="column-1">{% trans "Total" %}</th>
						
						

						</tr>
						<tr class="table-row">
						{% if cart.coupon%}
							<td class="column-1">"{{ cart.coupon.code }}"</td>
							{% if cart.coupon.discount_percentage %}
 								<td class="column-3">{% if LANGUAGE_CODE != 'ar' %} {{ cart.coupon.discount_percentage}}% off {% else %} {{ cart.coupon.discount_percentage}}%  {% endif %}</td>
								{% else %}
								<td class="column-3"> {% if LANGUAGE_CODE != 'ar' %}-{{cart.coupon.discount_amount}} DA{% else %}{{cart.coupon.discount_amount}}- دج{% endif %}</td>
							{%endif%}
							<td class="column-3">{% if LANGUAGE_CODE != 'ar' %}{{cart.get_total_price|floatformat:2}} DA{% else %}{{cart.get_total_price|floatformat:2}} دج{% endif %}</td>
							<td class="column-3">{% if LANGUAGE_CODE != 'ar' %}{{cart.get_total_price_after_discount|floatformat:2}} DA{% else %}{{cart.get_total_price_after_discount|floatformat:2}} دج{% endif %}</td>
						
						{% else %}
							<td class="column-1">{% if LANGUAGE_CODE != 'ar' %}{{ cart.get_total_price_after_discount|floatformat:2 }} DA{% else %}{{cart.get_total_price_after_discount|floatformat:2}} دج{% endif %}</td>
						{% endif %}
						</tr>
					</table>
				</div>
				</div>
			{% endif %}
		<!--Coupon -->

		<div class="col-md-6 p-b-30">
					<form class="leave-comment" action="{% url "coupons:apply" %}" method="post">
						<h4 class="m-text26 p-b-36 p-t-15">
							{% trans "Saisissez un coupon ici" %}
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="code" placeholder="{% if LANGUAGE_CODE != 'ar' %} Coupon {% else %} كوبون {%endif%}">
						</div>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1  hov1 m-text3 trans-0-4">
								{% trans "Utiliser" %}
							</button>
						</div>
						{% csrf_token %}
					</form>
				</div>
		<!-- Buttons -->
		<div class="flex-w flex-sb-m p-t-25 p-b-25   p-lr-15-sm ">
				{% if cart|length > 0 %}
				  
				<div class="flex-w flex-m w-full-sm">
					<div class="size11 m-r-10">
						<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'main:products' %}" type="button">{% trans "POURSUIVRE LES ACHATS" %}</a>
					</div>
				</div>
				<div class="size10 trans-0-4 m-t-10 m-b-10">
					<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 " href="{% url 'orders:order_create' %}" type="button">{% trans "Valider" %}</a>
				</div>

				{% else %}
				<div class="size11 m-r-10">
					<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'main:products' %}" type="button">{% trans "SHOP" %}</a>
				</div>
				{% endif %}

					
		</div>

			
		</div>


	</section>
{% block javascript %}

{% endblock javascript %}

{% endblock content %}
