{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/static/images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			Contact
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<div class="contact-map size21" id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="/static/images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1">
							<h1>Coordonnées</h1>
							<h4 class="m-text26 p-b-36 p-t-15">
								Email: <a class="m-text26 p-b-36 p-t-15" href="mailto:hello@maisonlamarchesa.com">hello@maisonlamarchesa.com</a>
							</h4>
							<h4 class="m-text26 p-b-36 p-t-15">
								Téléphone: <a class="m-text26 p-b-36 p-t-15" href="tel:00213774130200">00213 774 130 200 </a>
							</h4>
							<h4 class="m-text26 p-b-36 p-t-15">
								Email: <a class="m-text26 p-b-36 p-t-15" href="mailto:hello@maisonlamarchesa.com">hello@maisonlamarchesa.com</a>
							</h4>
							<h4 class="m-text26 p-b-36 p-t-15">
								Email: <a class="m-text26 p-b-36 p-t-15" href="mailto:hello@maisonlamarchesa.com">hello@maisonlamarchesa.com</a>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 p-b-30">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							Envoyer-nous un message
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Nom complet">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Téléphone">
						</div>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email" placeholder="Adresse Email">
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message" placeholder="Message"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Envoyer
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Free Delivery Worldwide
				</h4>

				<a href="#" class="s-text11 t-center">
					Click here for more info
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					30 Days Return
				</h4>

				<span class="s-text11 t-center">
					Simply return it within 30 days for an exchange.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Store Opening
				</h4>

				<span class="s-text11 t-center">
					Shop open from Monday to Sunday
				</span>
			</div>
		</div>
	</section>



  
{% endblock content %}