{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}

{% block content %}
<style>
	option {
		background-color: #ffffff;
	}
	option:hover {
		background-color: #f6f6f6;
	}
</style>
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Commande</h3>
				<ul class="breadcrumb-tree">
					<li><a href="{% url 'main:index' %}">Accueil</a></li>
					<li class="active">Commande</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<form class="card-body" method='POST' id="checkoutForm" data-communes-url="{% url 'orders:ajax_load_communes' %}">
							{% csrf_token %}
							<!--Grid row-->
							<div class="row">
							  <!--Grid column-->
							  <div class="col-md-6 mb-2">
								<!--firstName-->
								<div class="form-group ">
									<input class="input" type="text" name="first_name" id="first_name" class="form-control" placeholder="Votre Nom" required>
								</div>
							  </div>
							  <div class="col-md-6 mb-2">
								<!--lastName-->
								<div class="form-group">
									<input class="input" type="text" name="last_name" id="last_name" class="form-control"placeholder="Votre Prénom" required>
								</div>
							  </div>
							</div>
							<div class="row">
							<div class="col-md-6 mb-2">
							  <div class="form-group mb-5">
								<input class="input" type="text" name="email" id="email" class="form-control" placeholder="VotreEmail@example.com" >
							  </div>
							</div>
							<!--telephone-->
							<div class="col-md-6 mb-2">
							  <div class="form-group mb-5">
								<input class="input" type="text" name="phone" id="telephone" class="form-control" placeholder="votre numéro de téléphone" required>
							  </div>
							</div>
							</div>
							<!--address-->

							<!--Grid row-->
							<div class="row">
							  <!--Grid column-->
							  <div class="col-6 mb-4">
								<label for="country">Wilaya</label>
								<select class="input" name="wilaya" id="id_wilaya" class=" d-block w-100" style="cursor: pointer;">
								  <option class="option" value='' selected>---------</option>
								  {% for wilaya in wilayas %}
								  	<option class="option" value={{wilaya.pk}}>{{wilaya.name}}</option>
								  {% endfor %}
								</select>
							  </div>
							  <!--Grid column-->
							  <div class="col-6 mb-4">
								<label for="state">Commune</label>
								<select class="input  d-block w-100" name="commune" id="id_commune" style="cursor: pointer;" required>
								  <option class="option" value='' selected>---------</option>
								</select>
							  </div>
							  <!--Grid column-->
							</div>
							<div class="form-group mb-5">
								<input class="input" type="text" name="addresse" id="addresse" class="form-control" placeholder="votre adresse de livraison" required>
							  </div>
							<div class="order-notes">
								<textarea name="note" id="note" class="input" placeholder="Notes pour cette commande (facultatif)"></textarea>
							</div>
							<!-- /Order notes -->
							<hr class="mb-4">
							<button class="btn btn-primary btn-lg btn-block" type="submit">Valider ma commande</button>
						</form>



					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Votre Commande</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Produit</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{% for item in cart %}
									<div class="order-col">
										<div>{{ item.product.name }} <span class="text-danger">X</span> {{ item.quantity }}</div>
										<div>{{ item.total_price }} DA</div>
									</div>
								{% endfor %}
								
							</div>
							<div class="order-col">
								<div>Livraison</div>
								<div><strong>Offerte</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">{{ cart.get_total_price }}DA</strong></div>
							</div>
						</div>


					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
