{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}

{% block content %}
<center>
 <h1>Checkout</h1>
 </center>



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						

						<form class="card-body" method='POST' id="checkoutForm"  data-communes-url="{% url 'orders:ajax_load_communes' %}">
							{{form.as_p}}
							{% csrf_token %}
							<!--Grid row-->
						
							<hr class="mb-4">
							<button class="btn btn-primary btn-lg btn-block" type="submit">Valider ma commande</button>
						</form>
						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{% for item in cart %}
									<div class="order-col">
										<div>{{ item.quantity }}x {{ item.product.name }}</div>
										<div>{{ item.total_price }} DA</div>
									</div>
								{% endfor %}
								
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">{{ cart.get_total_price }}DA</strong></div>
							</div>
						</div>


					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
