

{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% static "images" as baseUrl %}

{% block content %}

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url({% static 'images/home_1920x570.jpg' %});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
							{% trans "Leather Bags 1" %}
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
							{% trans "New Collection 2018" %}
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a href="{% url 'main:products' %}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								{% trans "Shop Now" %}
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url({% static 'images/home_1920x570.jpg' %});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">
							{% trans "Sac à main" %}
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">
							{% trans "Nouvelle Collection!" %}
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a href="{% url 'main:products' %}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								{% trans "Acheter" %}
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url({% static 'images/home_1920x570.jpg' %});">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rotateInDownLeft">
							{% if LANGUAGE_CODE == 'ar' %}
								لا مارشيسا
							{% else %}
								LA MARCHESA
							{% endif %}
						</h2>

						<span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="rotateInUpRight">
							{% trans "Votre magazin favori" %}
						</span>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
							<!-- Button -->
							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
								{% trans "Acheter" %}
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="banner bgwhite p-t-40 p-b-40">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<!-- block1 -->
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'images/shoes_720x932.jpg' %}" alt="La marchesa - boutique de vêtements située en algérie">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{{access.get_absolute_url}}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								{{access.name}}
							</a>
						</div>
					</div>
					<!-- block1 -->
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'images/bags_720x660.jpg' %}" alt="La marchesa - boutique de vêtements située en algérie">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{{chauss.get_absolute_url}}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								{{chauss.name}}

							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
					<!-- block1 -->
					<div class="block1 hov-img-zoom pos-relative m-b-30">
						<img src="{% static 'images/acessoires_720x932.jpg' %}" alt="La marchesa - boutique de vêtements située en algérie">

						<div class="block1-wrapbtn w-size2">
							<!-- Button -->
							<a href="{{sacs.get_absolute_url}}" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
								{{sacs.name}}
							</a>
						</div>
					</div>
					<!-- block2 -->
				</div>
			</div>
		</div>
	</section>


	<!-- Our product -->
	<section class="bgwhite p-t-45 p-b-58">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					{% trans "Produits Tendance" %}
				</h3>
			</div>

				<!-- Tab panes -->
				<div class="tab-content p-t-35">
					<!-- - -->
					<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
						<div class="row">
							{% for prod in products %}
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50 ">
								<!-- Block2 -->
								<div class="block2">
									<div class=" block2-img wrap-pic-w of-hidden pos-relative {% if prod.status == 'N' %} block2-labelnew {% elif prod.status == 'P' %} block2-labelsale {% endif %} {% if LANGUAGE_CODE == 'ar' %}ar{% endif %}">
										{% if prod.image %}
											<img src="{{ prod.image.url }}" alt="{{prod.name}}">
										{% elif prod.image2 %}
											<img src="{{ prod.image2.url }}" alt="{{prod.name}}">
										{% elif prod.image3 %}
										<img src="{{ prod.image3.url }}" alt="{{prod.name}}">
										{% else %}
											<img src="{% static 'images/banner-01.jpg' %}" alt="{{prod.name}}">
										{% endif %}
										{% if prod.status == 'R' %}
											<div class="rupture-overlay trans-0-4 ">
												<div class="rupture-wrapbtn">
													<p class="flex-c-m size1 bg3 hov1 s-text2 trans-0-4">{% trans "Rupture" %}</p>
												</div>
											</div>
										{% else %}
											<div class="block2-overlay block2-btn-addcart w-size1 trans-0-4 ">
												<div class="block2-btn-addcart w-size1 trans-0-4">
													<a href="{{prod.get_absolute_url}}" class="flex-c-m size1 bg3 bo-rad-23 hov1 s-text2 trans-0-4">{% trans "Voir" %}</a>
												</div>
											</div>
										{% endif %}

									</div>
									<div class="block2-txt p-t-20">
										<a href="{{prod.get_absolute_url}}" class="block2-name dis-block s-text3 p-b-5 text-capitalize">
											{{prod.name}}
										</a>
										{% if prod.old_price %}
										  
										<span class="block2-oldprice m-text7 p-r-5">
											{% if LANGUAGE_CODE != 'ar' %}
												{{prod.old_price}} DA 
											{% else %}
												{{prod.old_price}} دج
											{%endif%}
										</span>
										{% endif %}
										<span class="block2-price m-text6 p-r-5">
											{% if LANGUAGE_CODE != 'ar' %}
												{{prod.price}} DA 
											{% else %}
												{{prod.price}} دج
											{%endif%}
										</span>
									</div>
								</div>
							</div>
							{% endfor %}

							
						</div>
					</div>



				</div>
			</div>
		</div>
	</section>


	<!-- Banner video -->
	<section class="parallax0 parallax100" style="background-image: url({% static 'images/home_bg_2.jpg' %});">
		<div class="overlay0 p-t-190 p-b-200">
			<div class="flex-col-c-m p-l-15 p-r-15">
				<span class="m-text9 p-t-45 fs-20-sm">
					{% trans "La beauté" %}
				</span>

				<h3 class="l-text1 fs-35-sm">
					{% trans "L'élegance" %}
				</h3>
				<a href="{% url 'main:index' %}">
				<span class="btn-play s-text4 hov5 cs-pointer p-t-25" data-toggle="modal" data-target="#modal-video-01">
					<i class="fa fa-play" aria-hidden="true"></i>
					{% if LANGUAGE_CODE == 'ar' %}
								لا مارشيسا
					{% else %}
								LA MARCHESA
					{% endif %}
				</span>
				</a>
			</div>
		</div>
	</section>



	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					{% trans "Faites-vous livrer vos achats" %}
				</h4>

				<a href="{% url 'main:about' %}" class="s-text11 t-center">
					{% trans "Cliquez ici pour plus d'info" %}
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					{% if LANGUAGE_CODE != 'ar' %}
						Coupons de réduction
					{% else %}
						كوبونات تخفيض
					{% endif %}
				</h4>

				<span class="s-text11 t-center">
					{% trans "Devenez des clients fidèles et béneficiez de nos coupons!" %}
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					{% trans "Heures d'Ouverture" %}
				</h4>

				<span class="s-text11 t-center">
					{% trans "Du Samedi au Jeudi - De 8H à 19H" %}
				</span>
			</div>
		</div>
	</section>
  
{% endblock content %}