
{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
  
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({% static 'images/blue_wall_1920x239.jpg' %});">
		<h2 class="l-text2 t-center">
			Femmes
		</h2>
		<p class="m-text13 t-center">
			Nouveautés Collection Femme
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Catégories
						</h4>

						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="{% url 'main:products' %}" class="s-text13 active1">
									Tous
								</a>
							</li>
							{% for cat in sous_categories %}
								<li class="p-t-4">
									<a href="{{cat.get_absolute_url}}" class="s-text13 text-capitalize">
										{{cat.name}}
									</a>
								</li>
							{% endfor %}
						</ul>


					</div>
				</div>
				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
						<span class="s-text8 p-t-5 p-b-5">
							<h3 >
								{{size}}  {% if size > 1 %} Produits trouvés {% else %} Produit trouvé {%endif%}
							</h3>
						</span>
					</div>
					<!-- Product -->
					<div class="row">
						{% for prod in products %}
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50 ">
								<!-- Block2 -->
								<div class="block2">
									<div class=" block2-img wrap-pic-w of-hidden pos-relative {% if prod.status == 'N' %} block2-labelnew {% elif prod.status == 'P' %} block2-labelsale {% endif %}">
										{% if prod.image %}
											<img src="{{ prod.image.url }}" alt="{{prod.name}}">
										{% elif prod.image2 %}
											<img src="{{ prod.image2.url }}" alt="{{prod.name}}">
										{% elif prod.image3 %}
										<img src="{{ prod.image3.url }}" alt="{{prod.name}}">
										{% else %}
											<img src="{% static 'images/banner-01.jpg' %}" alt="{{prod.name}}">
										{% endif %}
										<!-- produit en rupture -->
										{% if prod.status == 'R' %}
											<div class="rupture-overlay trans-0-4 ">
												<div class="rupture-wrapbtn">
													<p class="flex-c-m size1 bg3 hov1 s-text2 trans-0-4">Rupture</p>
												</div>
											</div>
										{% else %}
											<div class="block2-overlay block2-btn-addcart w-size1 trans-0-4 ">
												<div class="block2-btn-addcart w-size1 trans-0-4">
													<a href="{{prod.get_absolute_url}}" class="flex-c-m size1 bg3 bo-rad-23 hov1 s-text2 trans-0-4">Voir</a>
												</div>
											</div>
										{% endif %}

									</div>
									<div class="block2-txt p-t-20">
										<a href="{{prod.get_absolute_url}}" class="block2-name dis-block s-text3 p-b-5 text-capitalize">
											{{prod.name}}
										</a>
										{% if prod.status == 'P' %}
											<span class="block2-oldprice m-text7 p-r-5">
											{{prod.old_price}}
											</span>
			
											<span class="block2-newprice m-text8 p-r-5">
												{{prod.price}} DA
											</span>
											{% else %}
											<span class="block2-price m-text6 p-r-5">
												{{prod.price}} DA
											</span>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}

						
					</div>
				
					{% if products.paginator.num_pages > 1 %}

					<!-- Pagination -->
					<div class="pagination flex-m flex-w p-t-26">
						{% if products.has_previous %}
						<a href="?page={{ products.previous_page_number }}" class="flex-c-m trans-0-4 page">← Page précédante </a>
						<a href="?page={{ products.previous_page_number }}" class="item-pagination flex-c-m trans-0-4">{{ products.previous_page_number}}</a>
						{% else %}
						<a href="#" class="flex-c-m trans-0-4 page disabled" disabled>← Page précédante </a>
						{% endif %}
						<a href="?page={{ products.number }}" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ products.number }}</a>
						{% if products.has_next %}
						<a href="?page={{ products.next_page_number }}" class="item-pagination flex-c-m trans-0-4">{{ products.next_page_number }}</a>
						<a href="?page={{ products.next_page_number }}" class="flex-c-m trans-0-4 page">Page suivante →</a>
						{% else %}
						<a href="#" class="flex-c-m trans-0-4 page disabled" disabled>Page suivante →</a>
						{% endif %}
					</div> 
					{%endif%}
					<!-- End Pagination -->
				</div>
			</div>
		</div>
	</section>

{% endblock content %}
