{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}

	<!-- breadcrumb -->
	<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
		<a href="{% url 'main:index' %}" class="s-text16">
			{% if LANGUAGE_CODE != 'ar' %}
				Accueil
			{% else %}
				الصفحة الرئيسية
			{% endif %}
		<i class="fa {% if LANGUAGE_CODE != 'ar' %} fa-angle-right {% else %} fa-angle-left {%endif%} m-l-8 m-r-9" aria-hidden="true"></i>
		</a>
		<a href="{{product.subCategory.category.get_absolute_url}}" class="s-text16">
			{{product.subCategory.category}}
			<i class="fa {% if LANGUAGE_CODE != 'ar' %} fa-angle-right {% else %} fa-angle-left {%endif%} m-l-8 m-r-9" aria-hidden="true"></i>
		</a>
		<a href="{{product.subCategory.get_absolute_url}}" class="s-text16">
			{{product.subCategory}}
			<i class="fa {% if LANGUAGE_CODE != 'ar' %} fa-angle-right {% else %} fa-angle-left {%endif%} m-l-8 m-r-9" aria-hidden="true"></i>
		</a>
		<span class="s-text17">
			{{product.name}}
		</span>
	</div>

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
						{% if product.image %}

							<div class="item-slick3" data-thumb="{{product.image.url}}">
								<div class="wrap-pic-w">
									<img src="{{product.image.url}}" alt="{{product.name}}">
								</div>
							</div>
						{% endif %}

						{% if product.image2 %}
						  
							<div class="item-slick3" data-thumb="{{product.image2.url}}">
								<div class="wrap-pic-w">
									<img src="{{product.image2.url}}" alt="{{product.name}}">
								</div>
							</div>
						{% endif %}
						{% if product.image3 %}

						<div class="item-slick3" data-thumb="{{product.image3.url}}">
							<div class="wrap-pic-w">
								<img src="{{product.image3.url}}" alt="{{product.name}}">
							</div>
						</div>
						{% endif %}

					</div>
				</div>
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h1 class="product-detail-name m-text24 p-b-13 text-capitalize">
					{{product.name}}
				</h1>

				<span class="s-text23">
					{% if LANGUAGE_CODE != 'ar' %}
						Prix: {{product.price}} DA 
					{% else %}
						السعر: {{product.price}} دج  
					{% endif %}
				</span>

				<form action="{% url 'cart:cart_add' product.id %}" method="post">
					{% csrf_token %}
					<div class="size-radios mt-5" >
						<h5>{% trans "Selectionnez une taille" %}</h5>
	
							{% for co in product.taille.all %}
								<label>
									<input type="radio" name="taille" value="{{co.name}}"/>
									<span class="design"></span>
									<span class="text">{{co.name}}</span>
								</label>
							{% endfor %}
					</div>
					<table classe="mt-5">
						<h5>{% trans "Selectionnez une Couleur" %}</h5>
						<tr>
							<th style="margin-right: 20px;">{% trans "Couleur" %} :</th>
								{% for co in product.color.all %}
									<td class="colours">
										<div class="d-inline-block text-center dot-wrapper">
											<input type="radio" id="{{co.hex_value}}" name="color" value="#{{co.hex_value}}" >
											<label for="{{co.hex_value}}">
												<span class="dot" style="background-color: #{{ co.hex_value }};" title="{{ co.nom }}"></span>
											</label>
										</div>
									</td>
								{% endfor %}
						</tr>
					</table>
					<p class="s-text8">
						{{product.description|linebreaks }}
					</p>
					<div>
						{% if messages %}
						{% for mes in messages %}
						<h5 class="text-danger">{{ mes }}</h5>
						
						{% endfor %}
					{% endif %}
					</div>
					
						<div class="flex-w p-t-10">
							<div class="w-size16 flex-m flex-w">
								<div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
									<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
										<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
									</button>
									<input class="size8 m-text18 t-center num-product" id="id_quantity" type="number" name="quantity" value="1" max="3">
									<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
										<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
								<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
									<!-- Button -->
									<input class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="submit" style="width: 140%;" value="{% if LANGUAGE_CODE != 'ar' %}Ajouter au panier{% else %}أضف إلى السلة{%endif%}">
								</div>
							</div>
						</div>
				</form>

				<div class="p-b-45">
					<span class="s-text8">{% trans "Catégorie" %} : <a href="{{product.subCategory.get_absolute_url}}">{{product.subCategory}}</a>  </span>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						{% trans "Description" %}
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>


					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							{{product.description|linebreaks }}
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Related Product -->
	{% if similar_products %}
	<section class="relateproduct bgwhite p-t-45 p-b-138" dir="rtl">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					{% if LANGUAGE_CODE != 'ar' %}
						Produits similaires
					{% else %}
						منتجات مماثلة   
					{%endif%}
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
					{% for prod in similar_products%}
					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative {% if prod.status == 'N' %} block2-labelnew {% elif prod.status == 'P' %} block2-labelsale {% endif %}">
								{% if prod.image %}
										<img src="{{ prod.image.url }}" alt="{{prod.name}}">
										{% elif prod.image2 %}
											<img src="{{ prod.image2.url }}" alt="{{prod.name}}">
										{% elif prod.image3 %}
										<img src="{{ prod.image3.url }}" alt="{{prod.name}}">
										{% else %}
										<img src="{% static 'images/banner-01.jpg' %}" alt="{{prod.name}}">
								{% endif %}

								<div class="block2-overlay trans-0-4">
									{% if prod.status == 'R' %}
											<div class="rupture-overlay trans-0-4 ">
												<div class="rupture-wrapbtn">
													<p class="flex-c-m size1 bg3 hov1 s-text2 trans-0-4">{% trans "Rupture" %}</p>
												</div>
											</div>
										{% else %}
											<div class="block2-overlay block2-btn-addcart w-size1 trans-0-4 ">
												<div class="block2-btn-addcart w-size1 trans-0-4">
													<a href="{{prod.get_absolute_url}}" class="flex-c-m size1 bg3 bo-rad-23 hov1 s-text2 trans-0-4">{% trans "Voir" %}</a>
												</div>
											</div>
									{% endif %}

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<a href="{{prod.get_absolute_url}}" class="flex-c-m size1 bg3 bo-rad-23 hov1 s-text2 trans-0-4">{% trans "Voir" %}</a>
												
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{{prod.get_absolute_url}}" class="block2-name dis-block s-text3 p-b-5 text-capitalize">
											{{prod.name}}
								</a>
								{% if prod.old_price %}
										  
										<span class="block2-oldprice m-text7 p-r-5">
											{{prod.old_price}} دج
										</span>
										{% endif %}
										<span class="block2-price m-text6 p-r-5">
											{% if LANGUAGE_CODE != 'ar' %}
												{{prod.price}} DA 
											{% else %}
												{{prod.price}} دج
											{%endif%}
										</span>
							</div>
						</div>
					</div>
					{% endfor %}

					
				</div>
			</div>



		</div>
	</section>
	{%endif %}
{% endblock content %}
